.tabel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 40vh;
}

.judul {
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  text-shadow: 2px 2px 4px #000000; 
  font-size: 20px;
}

.search {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.search input {
  width: 500px;
  height: 20px;
  font-size: 14px; 
}

.search button {
  height: 26px;
  font-size: 14px; 
}

.peminjaman {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.peminjaman h3{
  margin-right: 50px;
}

.peminjaman input {
  width: 500px;
  height: 20px;
  font-size: 14px; 
}

.peminjaman button {
  height: 26px;
  font-size: 14px; 
}

.filtering{
  display: flex;
  justify-content: center;
  gap: 10px;
  color: white;
}
.filtering input {
  height: 22px;
  font-size: 14px; 
}

.filtering button {
  height: 26px;
  font-size: 14px; 
}

#daftarpj {
  table-layout: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  background-color: rgba(207, 207, 207);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#daftarpj td, #daftarpj th {
  border: 3px solid #ddd;
  padding: 8px;
  
}

#daftarpj tr:nth-child(even){background-color: #f2f2f2;}

#daftarpj tr:hover {background-color: #ddd;}

#daftarpj th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(170, 82, 0);
  color: white;
}

#daftar {
  table-layout: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: rgba(207, 207, 207);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#daftar td, #daftar th {
  border: 3px solid #ddd;
  padding: 8px;
  
}

#daftar tr:nth-child(even){background-color: #f2f2f2;}

#daftar tr:hover {background-color: #ddd;}

#daftar th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(170, 82, 0);
  color: white;
}